.navbar {
  background-image: linear-gradient(119deg, #3dbdb6, #0089ce);
  width: 100%;
  margin: 0;
}

.header {
  padding: 0;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/Careers.jpg');
  ;
}

.careers-title {
  margin: 0;
  vertical-align: middle;
  line-height: 600px;
  text-align: center;
  color: white;
  font-size: 80px;
}

.position {
  margin-left: 20px;
  margin-bottom: 30px;
}

.apply-link {
  text-decoration: none;
  padding: 5px;
  /*height: 3000px;*/
}

@media (max-width: 600px) {
  .careers-title {
      font-size: 30px;
  }
}