.admin-bot-panel {
  width: 25%;
  border: 1px solid #95989A;
  animation: right-panel-animation .2s linear;
}

@keyframes right-panel-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.header {
  color: white;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  background-color: #3FA7C2;
  padding: 10px;
  text-align: center;
}

.header-title {
  margin-left: 0px;
}

.unresolved-header {
  background-color: #F3F5F7;
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid #95989A;
}

.unresolved-header > span {
  color: #127C8A;
  font-size: 13px;
  margin-left: 10px;
}

.questions-list {

}

.questions-list-item {
  background-color: white;
  border: 1px solid #95989A;
  padding: 5px;
}

.questions-list-item > span {
  color: #090909;
  font-size: 13px;
}

.material-icons {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
