.comment-component-container {
  width: auto;
  height: auto;
  max-height: 347.5px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0.2px 0 0 0 rgba(0, 0, 0, 0.5);

}

.chat-input-container {
  display: flex;
  position: relative;
  align-items: center;
  width: auto;
  height: 35px;
  word-wrap: break-word;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 3px;
  border: solid 1.0px #29acbe;
  font-size: 8px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  width: calc(100% - 20px);
  margin-left: 10px;
}

.comment-thread{
  flex: 1;
  max-height: calc(100% - 156px);
  z-index: 1;
  margin-right: 0px;
}

.comment-scroll-wrapper {
  /*overflow: scroll;*/
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  max-height: 300px;
  margin-top: -15px;
  z-index: 1;

}

.comment-scroll-wrapper:hover {
  overflow-y: auto;

}

.comment-scroll-wrapper::-webkit-scrollbar {
  width: 10px;
  z-index: 1;
  overflow: auto;
}

.comment-scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(74, 73, 74, 0.65);
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 7px;
  box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05), inset 1px 1px 0 rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.close-popup-btn {
  cursor: pointer;
  height: 10px;
  width: 10px;
  float: right;
  color: gray;
  margin-top: -40px;
  margin-right: -14px;
}

/*.close-popup-btn:hover {*/
/*color: lightgray;*/
/*}*/
/*.comment-container {*/
/*width: 299.5px;*/
/*border-radius: 2px;*/
/*background-color: #ffffff;*/
/*box-shadow: 0.2px 0 0 0 rgba(0, 0, 0, 0.5);*/
/*padding-bottom: 15px;*/
/*flex: 1;*/
/*max-height: calc(100% - 156px);*/
/*display: flex;*/
/*height: calc(100vh - 92px);*/
/*}*/

/*.parent-message {*/
/*width: 284.5px;*/
/*height: auto;*/
/*font-family:font-family:Roboto;*/
/*font-size: 12px;*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*font-stretch: normal;*/
/*line-height: normal;*/
/*letter-spacing: 0;*/
/*color: #000000;*/
/*padding-top: 10px;*/

/*}*/

/*.chat-input-container {*/
/*width: 284.5px;*/
/*height: 57.5px;*/
/*border-radius: 2px;*/
/*border: solid 0.5px #29acbe;*/
/*!*display: inline-block;*!*/
/*!*position: relative;*!*/
/*!*align-items: center;*!*/
/*!*width: 100%;*!*/
/*!*height: auto;*!*/
/*!*word-wrap:break-word;*!*/
/*!*margin-bottom: 5px;*!*/
/*!*margin-top: 5px;*!*/
/*clear: left;*/

/*}*/


/*.comment-thread{*/
/*width: 299.5px;*/
/*height: auto;*/
/*border-radius: 2px;*/
/*background-color: #ffffff;*/
/*box-shadow: 0.2px 0 0 0 rgba(0, 0, 0, 0.5);*/
/*}*/

/*.comment-scroll-wrapper {*/
/*overflow-y: auto;*/
/*overflow-x: hidden;*/
/*height: 100%;*/
/*}*/

/*.comment-scroll-wrapper::-webkit-scrollbar {*/
/*width: 14px;*/
/*}*/

/*.comment-scroll-wrapper::-webkit-scrollbar-thumb {*/
/*background-color: rgba(74, 73, 74, 0.65);*/
/*border: 3px solid rgba(0, 0, 0, 0);*/
/*background-clip: padding-box;*/
/*border-radius: 7px;*/
/*box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05), inset 1px 1px 0 rgba(0, 0, 0, 0.05);*/
/*}*/

/*.close-popup-btn {*/
/*background: none;*/
/*border: none;*/
/*cursor: pointer;*/
/*float: right;*/
/*font-size: 30px;*/
/*color: gray;*/
/*margin-right: 30px;*/
/*margin-top: 10px;*/
/*}*/

/*.close-popup-btn:hover {*/
/*color: lightgray;*/
/*}*/
.loading-icon {
  margin-left: 40%;
  margin-top: 30%;
}
