.file {
  display: flex;
  justify-items: center;
  padding: 5px 10px;
  cursor: pointer;
}

.file:hover {
  background-color: #f0f0f0;
}

.file-container {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: solid 2px #4ea6e5;
  position: relative;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  color: #4ea6e5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.file-extension {
  font-size: 14px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.file-details-container {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.file-title {
  font-size: 16px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  letter-spacing: -0.4px;
  color: #4a4a4a;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-date {
  font-size: 10px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  color: #9b9b9b;
}

.file:hover .comment-icon {
  display: block;
}

.comment-icon {
  display: none;
  height: 22px;
  width: 19px;
  align-self: center;
  margin-left: auto;
  background-image: url('../../public/img/right_panel/comment-icon.svg');
  color: #4EA6E5;
  line-height: 20px;
  text-align: center;
  font-size: 10px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  letter-spacing: -0.2px;
  cursor: pointer;
}

.comment-icon:hover {
  background-image: url('../../public/img/right_panel/filled-comment-icon.svg');
  color: #ffffff;
}
