.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(123deg, #3dbdb6, #0089ce);
}

.container-confirmation {
  position: absolute;
  display: inline;
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(123deg, #3dbdb6, #0089ce);
  color:#FFFFFF;
}

.container-confirmation-items {
  margin-top: 20%;
}

.login-link {
  display:inline;
  cursor: pointer;
  font-family:"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #FFFFFF;
}

.password-popup {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 550px;
  height: 400px;
  padding: 20px;
  border-radius: 2.5px;
  background-color: #ffffff;
}

.logo {
  height: 64px;
  width: 64px;
}

.back-btn {
  border: none;
  margin: none;
  background: none;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 10px;
}

.back-img {
  margin-right: 5px;
}

.back-text {
  margin: -10px 10px 10px 10px;
  padding: 0;
}

.line {
  width: 100px;
  height: 1px;
  border-bottom: solid 1px #6f6f6f;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chose-new-password {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #000000;
  margin-bottom: 10px;
}

.password-reset-input {
  margin-left: 110px;
  width: 60%;
  height: 47px;
  font-size: 16px;
  font-family:"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.2;
  outline: none;
  border: none;
  color: #000000;
  border-bottom: solid 2px #6f6f6f !important;
}

.password-submit-enabled {
  margin-left: 110px;
  margin-top: 30.5px;
  width: 60%;
  height: 50px;
  border-radius: 5px;
  background-color: #127c8a;
  font-size: 16px;
  font-family:"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.7px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.password-submit-disabled {
  margin-left: 110px;
  margin-top: 30.5px;
  width: 60%;
  height: 50px;
  border-radius: 5px;
  background-color: #d8d8d8;
  font-size: 16px;
  font-family:"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.7px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.passwords-valid {
  margin-top: 20px;
  margin-left: 10px;
}
