.welcome-body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.welcome-title {
  margin-top: 40px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 60px;
}
